<%- include('header'); %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        Chat:

        <div id="chatlog"></div>

        <input type="text" name="inputSMS" id="inputSMS" />

        <input type="submit" name="sendSMS" id="sendSMS" />


        <input type="text" name="inputState" id="inputState" />
        <input type="text" name="inputPhone" id="inputPhone" value="2223334444" />
        </div>
    </div>
</div>
<script src="/chat.js"></script>

<%- include('footer'); %>